// Variables

$success: #28a745;
$danger: #dc3545;
$white: #fff;
$primary-white: #f9f8f5;
$black: #000;
$primary-black: #121212;
$black-two: #221b1b;
$greyish: #b9b9b9;
$greyish-two: #ababab;
$light-grey: #d8d7d3;
$light-grey-two: #cfd4cd;
$dark-shadow: #00000033;
